node_modules/
*.js
!main.js
*.png
!Cantonata.png
!dss_takeaway_bg.png
!images.png
!bulgarian_mekitsi_breakfast_luxury_11.99.png
!bulgarian_mekitsi_breakfast_luxury_1774793699730.png
!png-clipart-revolut-black-full-logo-tech-companies.png
!435182eb-7de1-4f79-90b2-50c712e73a3b.png
!safebg.png
!safeEN.png
!safeinstruc.png
*.jpg
!panorama_epopeya.jpg
!cantona.jpg
!cantona2.jpg
!life.jpg
!life2.jpg
*.jpeg
!20180911150628_62106.jpeg
!20150617104801_37909.jpeg
!himera2.jpeg
!himera(1).jfif
!himera_tavern.png
!muzei1.jpg
package-lock.json
package.json
